/* insert files */
.width, .wrapper, article, footer, .gistory, .art2 {
  width: 960px;
}

.font, header, nav, input, footer {
  font-family: 'Roboto Slab', serif;
}

/* */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background: url(img/game_scenes_latest_hd-wallpaper-1920x1080.jpg) no-repeat 50% 0;
  background-size: cover;
  background-attachment: fixed;
  font-family: arial, helvetica, sans-serif;
  padding: 80px 0;
}

@font-face {
  src: url(https://fonts.googleapis.com/css?family=Roboto+Slab);
}
.wrapper {
  margin: 0 auto;
}

/* site header */
header {
  background-color: #ffa500;
  border-radius: 7px 7px 0 0;
  text-shadow: 2px 2px 5px #222;
  padding: 20px 0;
}

h1 {
  font-size: 200%;
  text-align: center;
  color: #fff;
}

.picture {
  background: url(img/VeniceCA_wallpaper_1024x768.jpg) no-repeat 50% 50%;
  height: 400px;
}

nav {
  height: 58px;
}
nav ul {
  list-style-type: none;
  text-align: center;
}
nav li {
  display: inline-block;
  background-color: #ffa500;
  float: left;
}
nav a {
  padding: 20px 0;
  width: 192px;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px #222;
  text-decoration: none;
  float: left;
}
nav a:hover,
nav a:active {
  background-color: white;
  color: #222;
  text-shadow: 2px 2px 10px #222;
}

/* Content primary */
article {
  background-color: #f0f8ff;
  height: 1400px;
  clear: both;
}

.img {
  float: left;
  padding-right: 20px;
  padding-bottom: 0;
  background-size: contain;
}

section {
  line-height: 25px;
  padding: 30px 20px 30px 35px;
  text-align: left;
  float: left;
}

table {
  margin: 10px 15px;
}

.screens {
  width: 400px;
  height: 220px;
  margin: 10px 0 10px 10px;
  border: 4px double #222;
  background-size: contain;
}

/* Link decoration */
form {
  float: right;
  margin: 0 50px 0 0;
}

input {
  padding: 10px 20px;
  font-size: 14px;
}

/* ... */
/* Content primary end*/
/* Footer */
footer {
  height: 59px;
  background-color: #ffa500;
  float: left;
  clear: both;
  border-radius: 0 0 7px 7px;
}

.foot {
  color: white;
  clear: both;
  text-align: right;
  text-shadow: 2px 2px 5px #222;
  font-size: 120%;
  margin: 15px 40px 0 0;
}

/* Footer end */
/* Site History */
.gistory {
  background-color: #f0f8ff;
  height: 1550px;
  float: left;
  clear: both;
}

h2, h3, h4 {
  font-family: 'Times New Roman', Times, serif;
}

.history {
  width: 400px;
  height: 300px;
  background-size: contain;
  margin: 0 20px 0 0;
  float: left;
}

.history2 {
  width: 472px;
  height: 280px;
  background-size: contain;
  float: right;
}

/* */
/* Site Gallery */
.art2 {
  background-color: #f0f8ff;
  height: 1150px;
  clear: both;
}

/* */
