*{
	margin: 0px;
	padding: 0px;
}

body{
	background: url(img/game_scenes_latest_hd-wallpaper-1920x1080.jpg) no-repeat 50% 0;
	background-size: cover;
	background-attachment: fixed;
	font-family: arial, helvetica, sans-serif;
	padding: 80px 0;
}

@font-face{
	src: url(https://fonts.googleapis.com/css?family=Roboto+Slab);
}

p{
	font-family: 'Roboto Slab', serif;
}

.wrapper, article{
	width: 400px;
}

.wrapper{
	margin: 200px auto;
	height: 300px;
	border-radius: 7px 7px;
}

.topblock,.bottomblock{
	width: 400px;
	height: 50px;
	background-color: #4169E0;
	clear: both;
}
.topblock{
	border-radius: 7px 7px 0 0;
}

h2{
	padding: 10px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 5px #222;
}

article{
	height: 265px;
	background-color: white;
	float: left;
}

.bottomblock{
	border-radius: 0 0 7px 7px;
}

/*
=========================
	Поле регистрации
=========================
*/

section{
	padding: 0 0 0 25px;
	font-size: 18px;
}

input{
	padding: 5px;
	margin: 5px 0 0 0;
	border-radius: 7px;
	border: 1px solid #333;
	width: 200px;
}

input.button{
	padding: 10px 20px;
	border-radius: 7px;
	color: white;
	background-color: #4169E0;
	width: 106px;
}

input.button:hover{
	background-color: white;
	text-shadow: 2px 2px 5px #333;
	color: #222;
}

input.button:action{
	background-color: white;
	color: #222;
}

/*
=========================
*/

/*
=========================
	Success.php
=========================
*/

h3{
	text-align: center;
	margin: 46px 0 0 35px;
	width: 280px;
}

article.success{
	height: 140px;
	background-color: white;
}