*{
	margin: 0px;
	padding: 0px;
}
	
body{
	background: url(img/game_scenes_latest_hd-wallpaper-1920x1080.jpg) no-repeat 50% 0;
	background-size: cover;
	background-attachment: fixed;
	font-family: arial, helvetica, sans-serif;
	padding: 80px 0;
}
	
@font-face{
	src: url(https://fonts.googleapis.com/css?family=Roboto+Slab);
}