/* Insert files */

$primary-color: #ffa500;
$color: white;

.width{
	width: 400px;
}

.font{
	font-family: 'Roboto Slab', serif;
}

/* */

@import 'body';

p{
	@extend .font;
}

.wrapper{
	@extend .width;
	margin: 200px auto;
	height: 300px;
	border-radius: 7px 7px;
}

.topblock,
.bottomblock{
	width: 400px;
	height: 50px;
	background-color: #4169E0;
	clear: both;
}
.topblock{
	border-radius: 7px 7px 0 0;
}

h2{
	padding: 10px;
	color: white;
	text-align: center;
	text-shadow: 2px 2px 5px #222;
}

article{
	@extend .width;
	height: 265px;
	background-color: $color;
	float: left;
}

.bottomblock{
	border-radius: 0 0 7px 7px;
}

/*
=========================
	Registration area
=========================
*/

section{
	padding: 0 0 0 25px;
	font-size: 18px;
}

input{
	padding: 5px;
	margin: 5px 0 0 0;
	border-radius: 7px;
	border: 1px solid #333;
	width: 200px;
}
	
.button{
	padding: 10px 20px;
	border-radius: 7px;
	color: $color;
	background-color: #4169E0;
	width: 106px;
}

.button:hover{
	background-color: $color;
	text-shadow: 2px 2px 5px #333;
	color: #222;
}

.button:action{
	background-color: $color;
	color: #222;
}

/*
=========================
	Success.php
=========================
*/

h3{
	text-align: center;
	margin: 46px 0 0 35px;
	width: 280px;
}

article.success{
	height: 140px;
	background-color: $color;
}