/* insert files */

$primary-color: #ffa500;

.width{
	width: 960px;
}

.font{
	font-family: 'Roboto Slab', serif;
}

/* */

@import 'body';

.wrapper{
	@extend .width;
	margin: 0 auto;
}

	/* site header */

header{
	@extend .font;
	background-color: $primary-color;
	border-radius: 7px 7px 0 0;
	text-shadow: 2px 2px 5px #222;
	padding: 20px 0;
}

h1{
	font-size: 200%;
	text-align: center;
	color: #fff;
}

.picture{
	background: url(img/VeniceCA_wallpaper_1024x768.jpg) no-repeat 50% 50%;
	height: 400px;
}

nav{
	@extend .font;
	height: 58px;

	ul{
	list-style-type: none;
	text-align: center;
	}

	li{
    display: inline-block;
    background-color: $primary-color;
    float: left;
	}

	a{
    padding: 20px 0;
    width: 192px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px #222;
    text-decoration: none;
    float: left;
	}

	a:hover, 
	a:active {
    background-color: white;
    color: #222;
    text-shadow: 2px 2px 10px #222;
	}
}

	/* Content primary */

article{
	background-color: #f0f8ff;
	@extend .width;
	height: 1400px;
	clear: both;
}

.img{
	float: left;
	padding-right: 20px;
	padding-bottom: 0;
	background-size: contain;
}

section{
	line-height: 25px;
	padding: 30px 20px 30px 35px;
	text-align: left;
	float: left;
}

table{
	margin: 10px 15px;
}

.screens{
	width: 400px;
	height: 220px;
	margin: 10px 0 10px 10px;
	border: 4px double #222;
	background-size: contain;
}

	/* Link decoration */

form{
  float: right;
  margin: 0 50px 0 0;
}

input{
  padding: 10px 20px;
  font-size: 14px;
  @extend .font;
}

	/* ... */

	/* Content primary end*/

	/* Footer */

footer{
	@extend .font;
	@extend .width;
	height: 59px;
	background-color: $primary-color;
	float: left;
	clear: both;
	border-radius: 0 0 7px 7px;
}

.foot{
	color: white;
	clear: both;
	text-align: right;
	text-shadow: 2px 2px 5px #222;
	font-size: 120%;
	margin: 15px 40px 0 0;
}

	/* Footer end */

	/* Site History */

.gistory{
	background-color: #f0f8ff;
	@extend .width;
	height: 1550px;
	float: left;
	clear: both;
}

h2, h3, h4{
	font-family: 'Times New Roman', Times, serif;
}

.history{
	width: 400px;
	height: 300px;
	background-size: contain;
	margin: 0 20px 0 0;
	float: left;
}

.history2{
	width: 472px;
	height: 280px;
	background-size: contain;
	float: right;
}

	/* */


	/* Site Gallery */

.art2{
	background-color: #f0f8ff;
	@extend .width;
	height: 1150px;
	clear: both;
}

	/* */